<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369817107313-4lqr853cbbqoe6m0qoho5phnmk5hqkap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369817107313-4lqr853cbbqoe6m0qoho5phnmk5hqkap</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnL17DOhbJy4tKH6e-85SbZAkq05YxRg</string>
	<key>GCM_SENDER_ID</key>
	<string>369817107313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.sampleApp.Expensify</string>
	<key>PROJECT_ID</key>
	<string>expensifyfb</string>
	<key>STORAGE_BUCKET</key>
	<string>expensifyfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:369817107313:ios:d73c8469d4459c479754d0</string>
</dict>
</plist>
