<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384667236778-j0amng0iq9c24dcm7itbsmcelt073si0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384667236778-j0amng0iq9c24dcm7itbsmcelt073si0</string>
	<key>API_KEY</key>
	<string>AIzaSyBqA_PyU-Fwg1ApefO0cJnOMYk1PR6yZEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>384667236778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.sampleApp.Expensify</string>
	<key>PROJECT_ID</key>
	<string>expensifydb-d8306</string>
	<key>STORAGE_BUCKET</key>
	<string>expensifydb-d8306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384667236778:ios:d832eef7cfa43f469b53d3</string>
</dict>
</plist>